%h1 Student Summary
= link_to 'Download as CSV', grades_summary_path(:format=>:csv), {:class => "btn btn-primary"}
= link_to 'Full Submission List', grades_full_path, {:class => "btn btn-primary"}
%p
%table.table
  %thead
    %tr
      - @header.each do |col|
        %th= col
  %tbody
    - @data.each do |row|
      %tr
        - row.each do |col|
          %td= col
