=link_to 'Add hw0', hw0_path, {:remote=>true, :class => "btn btn-primary"}
-if Assignment.find_by_number 0
  =link_to 'Add hw1', hw1_path, {:remote=>true, :class => "btn btn-primary"}
-if Assignment.find_by_number 1
  =link_to 'Add hw2', hw2_path, {:remote=>true, :class => "btn btn-primary"}
-if Assignment.find_by_number 2
  =link_to 'Add hw3', hw3_path, {:remote=>true, :class => "btn btn-primary"}
-if Assignment.find_by_number 3
  =link_to 'Add hw4', hw4_path, {:remote=>true, :class => "btn btn-primary"}
-if Assignment.find_by_number 4
  =link_to 'Prepare For New Semester', semester_path, {:class => "btn btn-danger"}
