%table{class: 'table'}
  %thead
    %tr
      %th= "HW #"
      %th= "Description"
      %th= "Time Open"
      %th= "Time Due"
      %th= "% Deduction"
      %th= ""
  %tbody#tbod
    -Assignment.all.each do |a|
      %tr
        %td=a.number
        %td=a.description
        %td=a.open_time ? a.open_time.to_formatted_s(:long) : "Not Assigned"
        %td=a.due_time ? a.due_time.to_formatted_s(:long) : "Not Assigned"
        %td=a.get_deduction
        %td
          = link_to "edit", edit_assignment_path(a), {:class => "btn btn-primary"}