

<h2>
  <%= "Edit Assignment #{@assignment.number} Remember to add 5hrs to desired time"%>
  </h2> 
  <h4>If you would like an assignment due 01/01/2013 at 11:59pm the correct date and time would be:
    01/01/2013 4:59am.
  </h4>
</br></br>
<%= form_for@assignment, :url => { controller: 'assignment_updates',:action => 'update'} do |f| %>
  <div class="field">
     <%= f.label :open_time, "Time Open: IN UTC " %>
     <%= f.date_select :open_time %><br />
     <%= f.time_select :open_time, :ignore_date => true %><br /><br />
  </div>
  <div class="field">
    <%= f.label :due_time, "Time Due: IN UTC" %>
    <%= f.date_select :due_time %><br />
    <%= f.time_select :due_time, :ignore_date => true %><br /><br />
  </div>
  <div class="field">
    <%= f.fields_for :deduction do |d| %>
    <%= d.label  :penalty, "% Deduction" %>
    <%= d.number_field :penalty, :value =>"#{@deduction}" %><br /><br />
    <%= d.label  :starts_at, "Starting: 00:00:01 UTC ONE DAY PRIOR" %>
    <%= d.date_select :starts_at %><br />
    <br /><br />
    <%end%>
  </div>
  <div class="action_container">
    <%= f.submit 'Submit', :class => "btn btn-primary" %>
    <%= f.submit 'Cancel', :class => "btn" %>
  </div>
  </div>
<% end %>
