jQuery(function($){
        $("#mess").text('Successfully added hw0! Now edit the due date to open submissions.');
        $('#assnew').html("<%= escape_javascript(render(:partial => 'inde')) %>");
        $('#hhh').html("<%= escape_javascript(render(:partial => 'prob')) %>");
});
