%h2 Update HW Assignments (Time in UTC so add 5hrs)
%br
  #assnew=render 'inde'
  - 2.times do
    %br
  =form_tag add_announcement_path do #, :remote => true do
    =label_tag 'Announcement'
    =text_area_tag :message, "", placeholder: "Displayed below nav links until hidden or it expires."
    %br
    =label_tag 'Ends 11:59 PM ONE DAY PRIOR'
    =select_date Time.now
    %br
    =submit_tag ' Add Global Announcement ', confirm: 'Are You sure?', :class => "btn btn-primary"

    %br
  %p

  #hhh=render 'prob'