%h2= "Submissions for Problem #{@problem.number}"
.pull-right=link_to 'Back to Assignments', user_path(@user), class: "btn btn-primary"
%p
- @submissions.each do |s|
  %table.submissions
    %tr
      %td= "Submitted: #{local_time s.created_at.to_time}"    
      %tr
        %td.fixed!= "Raw Score: #{score_report s, false}"
      %tr
        %td.fixed!= "Final Score: #{score_report s}" 
    %tr  
      %td.fixed= link_to 'View Source', submission_path(@user,s) if s.file?

    %tr
      %td{:colspan => 4}
        - if s.ded && s.ded != 0
          %p.warning= "This submission was penalized #{s.ded}% for lateness."
        %p Grader Output:
        - s.feedback ||= "The submission is still being graded."
        %pre.codeblock
          = s.feedback
          -#%code!= CodeRay.scan(s.feedback, :ruby).html(:css=>:style)
  %p
.flickr_pagination 
  =will_paginate @submissions
