%tr
  %td= user.last_name
  %td= user.first_name
  %td= user.student_id
  %td= mail_to user.email
  %td= user.section
  %td= last_submission_time(user)
  %td= link_to "Student View", user_path(user), {:class => "btn btn-primary"}
 	