<%= form_for(@user, :url => { :action => 'update'} ) do |f| %>
 <% if @user == @viewer %>
  <div class="field"><br />
     <%= f.label :password, "New Password:" %>
     <%= f.password_field :password, :autocomplete => "off"  %><br /><br />
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Confirm New Password:' %>
    <%= f.password_field :password_confirmation %><br /><br />
  </div>
  <div class="field">
    <%= f.label :current_password, 'Current Password:' %>
    <%= f.password_field :current_password %><br /><br />
  </div>
 <% end %>
  <% if current_user.admin? %>
      <div class="field">
        <%= f.label :first_name, "First Name" %>
        <%= f.text_field :first_name %><br /><br />
      </div>
      <div class="field">
        <%= f.label :last_name, "Last Name" %>
        <%= f.text_field :last_name %><br /><br />
      </div>
      <div class="field">
        <%= f.label :student_id, "Student ID" %>
        <%= f.text_field :student_id %><br /><br />
        </div>
      <div class="field">
        <%= f.label :section, "Section" %>
        <%= f.text_field :section %><br /><br />
        </div>
    <% end %>
  <div class="action_container">
    <br />
    <%= f.submit "Update", :class => 'btn btn-primary' %>

  </div>
<% end %>
