%h2 Student Listing

%table#columnss{class: 'table'}
  %thead
    %tr

      %th=link_to "#{@columns[0][:title]}", users_path({sort: @columns[0][:number], dir: @columns[0][:dir]}), remote:true
      %th=link_to "#{@columns[1][:title]}", users_path({sort: @columns[1][:number], dir: @columns[1][:dir]}), remote:true
      %th=link_to "#{@columns[2][:title]}", users_path({sort: @columns[2][:number], dir: @columns[2][:dir]}),remote:true
      %th=@columns[3][:title]
      %th=link_to "#{@columns[4][:title]}", users_path({sort: @columns[4][:number], dir: @columns[4][:dir]}),remote:true 
      %th=link_to "#{@columns[5][:title]}", users_path({sort: @columns[5][:number], dir: @columns[5][:dir]}), remote:true
      %th= @columns[6][:title]
  %tbody
    = render @users
    

