- if @viewer.admin? && @viewer!=@user
  %h2= "Student View for #{@user.first_name} #{@user.last_name}"
#assignments
  - @assignments.each do |a|
    %h2.assignment= %{Homework ##{a.number}}
    %h3.description= a.description
    %h4.duedate= "Due: #{local_time a.due_time}" if a.due_time
    /hw2 addition to view source
    - if a.number == 2 && !a.due_time.nil?
      %p
      %br You must submit your source code before submitting to the grader.
      While in the directory immediately before the root directory (where you would run rails server) of your rails project run this command:
      %br
      tar -czvf hw2_{your_ninernet_id}.tar {space} hw2_rotten {then press tab and it will fill in the rest of your app name} {then hit enter}
      %br
      
      %br Make sure that you submit the most up to date version when you are finished submitting for your grades! Follow the instructions above and re-submit a newly created tar file!
      %br 
      YOU WILL NOT BE ABLE TO SUBMIT FOR GRADING UNTIL YOU HAVE DONE SO
      %br 
      THIS WILL BE USED TO HELP SOLVE WHATEVER QUESTIONS AND PROBLEMS MAY ARISE
      %br
      
      %br
      %row
        = form_tag hw2source_path(@user), {:multipart=>true, :id=>'hw2src'} do
          .errors
          = file_field_tag :hw2source, :class => 'upload'
          = submit_tag "Submit", :class => "btn btn-primary"
          %br
        -if @viewer.admin? && HwSubmission.find_by_user_id(@user)

          = form_tag hw2dl_path(@user) do
            
            =submit_tag "DL Source", :class => "btn btn-danger"
            %br
    %center
    %table{:class=> 'table' }
      %thead
        %tr
          %th Problem #
          %th Submit
          %th # Of Submissions
          %th Detailed Results
      %tbody
        - a.problems.each do |p|
          %tr
            %td= "#{p.number}"
            %td
              -if !a.due_time.nil? && (HwSubmission.find_by_user_id(@user) || a.number != 2)
                = form_tag submit_path(@user,p), {:multipart=>true, :id=>'myFile'} do
                  .errors
                  = file_field_tag :file, :class => 'upload'
                  = submit_tag "Submit", :class => "btn btn-primary"
            %td= @submits[p.id] || 0
            %td
              - if @scores[p] 
                =link_to "#{@scores[p] || 0} / #{p.max_score}", submissions_path(@user,p) 
              - else 
                ='0'
        %tr{style:"width:300px;padding:1em;margin-top:1em;background:lightgrey;"}
          %td{:colspan=>2,:style=>'color:red;text-align:left'} Totals:
          %td{style:'text-align:center;color:red'}= total_submissions @user, a
          %td{style:'text-align:center;color:red'}= "#{total_score @user, a} / #{a.max_score}"
        %tr
          %td{:colspan=>4}
            - if @viewer.admin? 
              =link_to "Edit Student Account", user_edit_path(@user, current_user), {:class => "btn btn-primary pull-right"}
              =link_to "Back To Student Listing", users_path, {:class => "btn btn-primary pull-right"}



        

