<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label 'Niner-Net ID' %><br />
  <%= f.text_field :username %></div>

  <div><%= f.submit "Send me reset password instructions", :class => "btn btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
