%tr
  %p= "Original filename: #{@submission.original_filename}"
%tr
  %p{:id=>'summ'}= "Submitted: #{local_time @submission.created_at}"
  -if @submission.score
    %tr
      %p!= "Raw Score: #{score_report @submission, false}"
  -if @submission.score
    %tr
      %p!= "Final Score: #{score_report @submission}"
  -if current_user.admin?
    =link_to 'Download Submission', dl_path(@submission), {:class => "btn btn-primary"}
- @code.each do |filename, content|
  %h5= filename if filename
  %pre.codeblock
    %code!= content
= link_to 'Back to Assignments', user_path(@user), {:class => "btn btn-primary"}
= link_to 'Back to Submissions', submissions_path(@user, @submission.problem), {:class => "btn btn-primary"}

