%h4 These operations should be performed in order from top to bottom if you plan to completely make the site ready for a new semester.
%br
  %br
#container_db
  %br
    -if flash[:filr].present?
      #warning.message=flash[:filr]
    = form_tag new_roster_path, {:multipart=>true, :id=>'myFile', :confirm=>'You are about to import new user data. This data will be used to seed the database.'} do
      .errors
      = file_field_tag :file, :class => 'upload', onchange: 'check_file()'
      = submit_tag "Submit", :class => "btn btn-primary"
    #warning.message FIRST: IMPORT NEW SEMESTERS ROSTER IN CSV FORMAT. BE SURE THERE ARE NO WINDOWS ENDLINES eg: (^M)
    #notice.message{:style=> 'float:center; padding-left:20px;'}
    %br
      %span The correct format for this file is :  last_name,800 #,first_name,section #,ninernet_username,uncc_email_address
    #notice.message{:style=> 'float:center; padding-left;'}
      %br
        %span Each line contains 6 entries separated by a comma (,) in the specified order, this is VERY important, click 
        %span= link_to "here", csv_example_path(:format=>'txt')#, {:class => "btn btn-primary"}
        %span for example.
%br
  %br
#container_db
  %br
  =link_to 'SECOND: RESET THE DATABASE FOR NEXT SEMESTER: THIS ACTION CANNOT BE UNDONE!', blow_up_path, {:confirm=>'You are about to delete all user data. This action cannot be undone!', :class => "btn btn-danger", :style=> 'padding-left:-10px;float:center;width:100%; height:100%;; color:white;border-style: solid; border-color:black;'}
  %p
    #notice.message{:style=> 'float:center; padding-left:20px;'}
    %br
      %span This may take a while. When done, you must sign in again. You will use the login:
      %span
      %b{:style => "BACKGROUND-COLOR: #BD362F;color:white;"}    ' admin3155 '
      %span =>
      %span
      %b{:style => "BACKGROUND-COLOR: #BD362F;color:white;"}   ' !itcs!3155! '
    %br
      %b
        #warning.message{style: 'color:#BD362F;'} DO NOT FORGET THIS USERNAME AND PASSWORD OR YOU WILL BE LOCKED OUT OF THE SYSTEM!!!
%br
  %br
#container_db
  %br
  =link_to 'FINALLY: RESEED THE DATABASE FOR THE COMING SEMESTER', reseed_path, {:confirm=>'You are about to write the imported student list to the database.', :class => "btn btn-danger", :style=> 'padding-left:-10px;float:center;width:100%; height:100%;; color:white;border-style: solid; border-color:black;'}
  %p
    #notice.message{:style=> 'float:center; padding-left:20px;'}
    %br
      %span This may take a while. When done, you must sign in again. You will use the login:
      %span
      %b{:style => "BACKGROUND-COLOR: #BD362F;color:white;"}    ' admin3155 '
      %span =>
      %span
      %b{:style => "BACKGROUND-COLOR: #BD362F;color:white;"}   ' !itcs!3155! '

:javascript
  function check_file(){
                str=document.getElementById('file').value.toUpperCase();
        suffix=".CSV";
        suffix2=".CSV";
        if(!(str.indexOf(suffix, str.length - suffix.length) !== -1)){
        alert('File type not allowed,\nAllowed file: *.csv,*.CSV');
            document.getElementById('file').value='';
        }
    }

