<div>
  <h2>Sign in</h2><br />
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :login %>
    <%= f.text_field :login %></div><br />

    <div><%= f.label :password %>
    <%= f.password_field :password %></div><br />

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %>
    <% end -%><br />

    <div><%= f.submit "Sign in", :class => "btn btn-primary" %></div><br />
  <% end %>
  <%= render "devise/shared/links" %>
</div>
<div style="width:300px;padding:1em;margin-top:1em;background:lightgrey;border:1px solid;">
Your Login ID is your NinerNet ID (e.g., mine is “rilson”).
Your initial password is "!UnCc"+ the last four digits of
your 800 number + "$".  You are required to change your 
password after you sign in; use a unique password for this site.
</div>


