// Place all the styles related to the announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.announcement {
	width:100%;
	background-color:red;

	border-top:solid 4px red;
	padding:10px 0;
	text-align:center;
}
a.hide{
	font-size:12px;
	margin-left:10px;
	text-align:right;
	color:#6E5910;
}