/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {

  background:#01713f;
    padding-top:10px;
padding-bottom:30px;
padding-right:30px;
padding-left:30px;
}

#header {
  background:#01713f;
  padding-bottom:0em;
}



#header h1 {
  display:inline;
  margin-left:40px;
  color:white
}
h4, h4.h{
  font-family: "Trebuchet MS";
  font-size:20px%;
  display:inline;
  margin-left:40px;

  color:white;
}

#user_links{
  padding-top:10px;
padding-bottom:20px;
padding-right:0px;
padding-left:0px;
}

#username{
  font-weight:bold;
}

ul.usermenu{
  color: white;
  display: inline;
  float: left;
  font-size: 110%;
  list-style: none;
  padding-left: 0em;
}

ul.hmenu{
  float:right;
  display:inline;
  color:white;
  list-style:none;
  font-size:110%;
  padding-right:.5em;
}

li.hmenu{
  display:inline;
  margin:.25em .5em .5em .25em
}

li.hmenu a {
  color:white;
  font-size:80%;
}
.table td#h,.table tr,.table th {
	text-align:center;color:#08c;
}
tr.th {
  text-align:center;
  color:#08c;
}

#main {
  background:white;
  padding:10px 30px 20px 30px;
}

#warning, .warning {
    color:red;
}
#mess, .mess {
    color:black;
}

.sort {
  background:#cccccc;
}

.asc:after {
  content:"  \25b2";
}

.desc:after {
  content:"  \25bc";
}

table.bordered {
  border: 1px solid black;
  width:100%;
  table-layout:fixed;
  overflow:auto
}

table.bordered td, table.bordered th {
  border: 1px solid black;
  padding:0px 1em;
  overflow:auto
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }