%header#header
  = image_tag 'logo.png', id: 'logo'
  %h4.h 
    ="ITCS-3155 Autograder"
  #user_links 
    - if user_signed_in?
      %ul.usermenu{style:'margin: 0 0 10px 5px;'}
        %li.hmenu= link_to 'Assignments', user_path(current_user)
        - if current_user.admin?
          %li.hmenu= link_to 'User List', users_path
          %li.hmenu= link_to 'Grades', grades_full_path
          %li.hmenu= link_to 'Edit Assignments', assignments_path
      %ul.hmenu
        %li#username.hmenu= current_user.full_name current_user
        %li.hmenu= link_to 'Account', user_edit_path(current_user)
        %li.hmenu= link_to 'Logout', destroy_user_session_path, :method => 'delete'
