!!! 5
%html
  %head
    %link{:href=> "/favicon.ico", :rel=>"icon", :type=>"image/x-icon"}/
    /:href=>"http://www.uncc.edu/sites/all/themes/unc_charlotte/images/favicon.ico",:rel=>"shortcut icon"}
    %title ITCS 3155 Autograder
    = stylesheet_link_tag 'application', :media => "all"
    = javascript_include_tag 'application'
    /= javascript_include_tag :defaults

    =javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"
    =javascript_include_tag "http://malsup.github.com/jquery.form.js"
    = csrf_meta_tags
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38595071-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();  
  %body
    = render 'layouts/header'
    -Announcement.current(cookies.signed[:hidden_ids]).each do |announcement|
      =div_for announcement do
        =announcement.message
        - if current_user
          %a.hide=link_to "Hide", hide_announcement_path(announcement), :remote=>true
    #main
      #notice.message{:style =>'color:white'}= "h" 
      #mess
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      - elsif flash[:alert]
        #warning.message= flash[:alert]
      = yield
      
    

